# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development configuration
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE files
.idea/
.vscode/

# Compiled source
*.pyc
*.pyo

# Miscellaneous
*.swp
.DS_Store
Thumbs.db
